apiVersion: extensions/v1beta1
  kind: Deployment
  metadata:
  name: my-nginx
  spec:
    replicas: 1
    template:
    metadata:
    labels:
      run: my-nginx
    spec:
      containers:
        - name: my-nginx
      image: nginx
      ports:
        - containerPort: 80
---
apiVersion: v1
  kind: Service
  metadata:
  name: my-nginx
  spec:
    ports:
      - name: "www"
      port: 80
      targetPort: 80
      selector:
        run: my-nginx
        type: LoadBalancer